[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "cd client && npm install && npm run build",
  "cd server && npm install && npx prisma generate && npm run build"
]

[phases.deploy]
cmd = "cd server && npm start"

[variables]
NODE_ENV = "production"